DATABASE_URL=postgresql://postgres:1234@localhost:5432/ecommerce_db
SECRET_KEY=change-this-to-a-long-random-string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

PAYMENT_API_BASE_URL=http://localhost:8000
PAYMENT_SECRET_KEY=sk_test_6Zc-kpvKdBYRKywc_B6s4IbY8Dahw8cmZObUCtV7N_M